.CameraManage_body{
    display: flex;
}

.CameraManage_body_left {
    flex: 5;
    display: block;
    margin-right: 20px;
    padding: 20px 20px 20px 20px;
    background-color: #fff;
  }

  .button-container {
    text-align: left; /* 确保容器左对齐 */
    margin-bottom: 2%;
  }
  
  .custom-button {
    background-color: #409EFF; /* 按钮背景色 */
    border-color: #409EFF; /* 按钮边框色 */
    color: white; /* 文字颜色 */
    padding: 8px 16px; /* 内边距，可以根据需要调整 */
    border-radius: 20px; /* 圆角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* 过渡效果 */
    border: 1px solid #409EFF; /* 边框 */
    font-size: 14px; /* 字体大小 */
    line-height: 1; /* 行高 */
    min-width: 100px; /* 最小宽度 */
  }
  
  .custom-button:hover {
    background-color: #66b1ff; /* 悬停时的背景色 */
    transform: translateY(-1px); /* 悬停时的上移效果 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 悬停时的阴影 */
  }
  
  .custom-button:active {
    background-color: #2a76c6; /* 点击时的背景色 */
    transform: translateY(0); /* 点击时恢复原位 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 点击时的阴影 */
  }

.CameraManage_body_right {
    flex: 2;
    display: block;
    background-color: #fff;
}

.camera_search_block {
  margin-top: 15px;
  margin-bottom: 2%;
}

.camera_search_block .input-with-select .el-select{
  width: 140px;
}

.search-input .el-input-group__prepend {
  background-color: #f5f5f5f5; /* 选择框背景色 */
  border-right: 1px solid #dcdfe6; /* 选择框与输入框之间的边框 */
}

.search-input .el-input__inner {
  border-radius: 0 4px 4px 0; /* 输入框圆角 */
  border-left: none; /* 移除输入框左侧边框 */
}

.search-input .el-input-group__append {
  background-color: #f5f5f5f5; /* 按钮背景色 */
  border-left: 1px solid #dcdfe6; /* 按钮与输入框之间的边框 */
}

.search-input .el-select .el-input {
  width: 150px; /* 选择框宽度 */
}

.search-input .el-input__inner {
  padding-left: 10px; /* 输入框内边距 */
}

.search-input .el-button {
  padding: 0 10px; /* 按钮内边距 */
  width: 100px;
}


  /* 添加摄像头部分css样式 */
  .dialog_container_top {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    height: 40%;
  }
  
  .container_left {
    flex: 1; 
    display: flex;
    flex-direction: column; 
  }
  
  .form-group-top ,.form-group-bottom{
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  .form-label {
    flex-shrink: 0; 
    margin-right: 15px; 
    font-weight: bold;
    white-space: nowrap;
    width: 100px; 
  }
  
  .cameraIdInput {
    flex-grow: 1; 
  }
  
  .ml-2 {
    margin-left: 10px;
  }
  
  .el-select {
    width: 100%; 
  }
  
  .container_right {
    flex: 1; 
    background-color: #2a76c6;
    margin-left: 20px; 
  }

  .dialog_container_bottom{
    padding: 0 20px;
  }

  .form_div_ingredient{
    margin-right: 15%;
  }
  .form_div_ingredient .el-input{
    width: 156%;
  }

  .form-input{
    height: 30% !important;
  }
